@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* CSS Reset para garantir um estilo uniforme entre os navegadores */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Estilo básico para o switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 10px;
}

/* Esconder o checkbox original */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* O slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

/* O círculo dentro do slider */
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

/* Quando o checkbox está selecionado, mudar a cor do slider */
input:checked + .slider {
    background-color: #2196F3;
}

/* Mover o círculo para a direita quando o checkbox está selecionado */
input:checked + .slider:before {
    transform: translateX(26px);
}

h1 {
    font-size: 30px;
    
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2a3f66;
    font-family: "Roboto";
    color: #fff;
}

.title {
    font-size: 40px;
    margin: 24px;
    font-weight: bold;
}

.container-logica {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-estrutura {
    background-color: #74b7ee;
    padding: 12px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.aprovado {
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid white;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(97, 123, 238);
    color: #fff;
}

.aprovado:hover {
    background-color: rgb(87, 115, 236);
    cursor: pointer;
}

.or {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(97, 123, 238);
}

.border {
    border: solid 1px #fff;
    border-radius: 10px;
}

.kit-checkbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teste-logico{
    font-weight: bold;
    margin-block: 10px;
}

.home {
    color: #fff;
    margin-bottom: 10px;
}